:root{
   --cor-texto:#202020;
   --cor-fundo: #eee; 
}

body {
    background-color: var(--cor-fundo);
}

.cabecalho {
    text-align: center;
    font-size: 1vw;
}

.texto_projetos {
    text-align: center;
}

