body {
    background-color: gold;
}

.titulo-projetos {
    background-color: rgb(248, 245, 202);
    border: 2px solid whitesmoke;
    text-align: center;
    margin-top: 1rem;
    
}

.cartoes {
    display: flex;
    flex-direction: column;
}

.cartao {
    background-color: aliceblue;
    border: 1px solid #0e0e0e;
    border-radius: 0.5rem;
    max-height: 80%;
    margin: 0.5rem;
    cursor: pointer;
}

.cartao-imagem {
    height: 156px;
    margin: 1rem 0 1rem 0;
    max-height: 60vw;
}

.cartao-rodape {
    padding-left: 0.5rem;
}

.botao-email {
    border: 2px solid #00aa4e;
}

.botao-whatsapp {
    border: 2px solid #00aa4e;
    background-color: transparent;
    color: #00aa4e;
    font-weight: 600;
}

.rodape {
    background-color: rgb(248, 245, 202);
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}